.layout{
    @apply grid place-items-center mx-2 my-20
}

.form__wrapper{
    @apply w-10/12 p-12 sm:w-8/12 md:w-6/12 lg:w-5/12 2xl:w-4/12 
    px-4 py-8 sm:px-10 sm:py-6 
    bg-white  rounded-lg shadow-md lg:shadow-lg
}

.form__header{
    @apply text-center font-semibold text-3xl lg:text-4xl text-gray-800
}

.form__error{
    @apply text-red-500 text-center mt-4 text-base
}

.form{
    @apply mt-10
}

.email__label{
    @apply block text-xs font-semibold text-gray-600 uppercase
}

.email__input{
    @apply block w-full py-3 px-1 mt-2 
    text-gray-800 appearance-none 
    border-b-2 border-gray-100
    focus:text-gray-500 focus:outline-none focus:border-gray-200
}

.password__label{
    @apply block mt-2 text-xs font-semibold text-gray-600 uppercase
}


.password__input{
    @apply block w-full py-3 px-1 mt-2 mb-4
    text-gray-800 appearance-none 
    border-b-2 border-gray-100
    focus:text-gray-500 focus:outline-none focus:border-gray-200
}

.button{
    @apply w-full py-3 mt-10 bg-gray-800 rounded-sm
    font-medium text-white uppercase
    focus:outline-none hover:bg-gray-700 hover:shadow-none
}

.info__wrapper{
    @apply sm:flex sm:flex-wrap mt-8 sm:mb-4 text-center gap-2 text-base 
}

.info__state{
    @apply block w-full py-2
}

.info__label{
    @apply block w-full underline cursor-pointer
}
