@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #e9dcdc;
    color: #2d3748;
  }

  textarea {
    border: none;
    resize: none;
    @apply bg-emerald-500;
  }
  textarea:focus {
    outline: 1px solid black;
    border: none;
  }

  textarea::placeholder {
    @apply text-zinc-500;
  }

  .dark-mode {
    background-color: #2d3742;
    color: #000;
  }
}
